.screen {
    background: rgb(30, 42, 62);
    background: linear-gradient( 75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100%);
    min-width: 95%;
}

.icon-music {
    font-size: 100px;
    /* margin-top: 70px;
    margin-right: 150px; */
    color:  coral;
}
.iconSearch{
    color:  coral;
    font-size: 20px;
}